#loading {
  display: none;
}
.loading {
  width: 140px;
  height: 140px;
  color: #9D8337;
  z-index: 3002;
  text-align: center;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3001;
  cursor: pointer;
}

.blur {
  filter: blur(2px);
}

