<div class="wrapper-login">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Inicio de sesión</h2>
      </mat-card-title>
      <mat-card-subtitle>Logysto | Admin</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Usuario" type="text" [(ngModel)]="credentials.email">
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Conatraseña" type="password" [(ngModel)]="credentials.password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
      <button mat-raised-button style="width: 100%;" color="primary" (click)="auth()">Iniciar sesión</button>

      <div class="row">
        <div class="col-lg-12 text-center">
          <p><br>¿Aún no tienes una cuenta en Logysto? <br><a class="cursor-pointer" (click)="openRegisterModal()">Regístrate aquí</a></p>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
