<div class="row">
  <div class="col-lg-12 text-center">
    <h1 mat-dialog-title style="font-weight: bold;">Registro de Usuarios</h1>
  </div>
</div>

<div mat-dialog-content>
  <div class="spacer-10"></div>
  <div class="col-lg-12">

    <mat-horizontal-stepper #stepper>
      <mat-step label="Datos Básicos">


        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 70 caracteres">
            <mat-label>Nombre</mat-label>
            <input matInput type="text"
                   required
                   [(ngModel)]="user.name"
                   #name>
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint align="end">{{name.value?.length || 0}}/70</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 70 caracteres">
            <mat-label>Apellido <small>(Opcional)</small></mat-label>
            <input matInput type="text"
                   [(ngModel)]="user.lastName"
                   #lastName>
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint align="end">{{lastName.value?.length || 0}}/70</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 15 caracteres">
            <mat-label>Teléfono/Celular <small>(Opcional)</small></mat-label>
            <input matInput type="text"
                   placeholder="+573002564152"
                   [(ngModel)]="user.phone"
                   #phone>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint align="end">{{phone.value?.length || 0}}/15</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 60 caracteres">
            <mat-label>Dirección <small>(Opcional)</small></mat-label>
            <input matInput type="text"
                   placeholder="Calle 11 N° 19D - 22"
                   [(ngModel)]="user.address"
                   #address>
            <mat-icon matSuffix>pin_drop</mat-icon>
            <mat-hint align="end">{{address.value?.length || 0}}/60</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-12" style="margin-top: 30px;">
          <button mat-raised-button color="accent" matStepperNext class="pull-right">Siguiente</button>
        </div>

      </mat-step>

      <mat-step label="Credenciales">

        <div class="col-lg-8 col-lg-offset-2">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 80 caracteres">
            <mat-label>E-mail</mat-label>
            <input matInput type="email"
                   required
                   placeholder="person@gmail.com"
                   [(ngModel)]="user.email"
                   #email>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint align="end">{{email.value?.length || 0}}/80</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
          <mat-form-field appearance="outline" class="block" hintLabel="Max 10 caracteres">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password"
                   required
                   [(ngModel)]="user.password"
                   #password>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        </div>


        <div class="col-md-12" style="margin-top: 30px;">
          <button mat-raised-button color="accent" matStepperPrevious class="pull-left">Atrás</button>
        </div>

      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>


<div mat-dialog-actions class="pull-right">
  <button mat-raised-button (click)="close()">Cerrar</button>
  <button mat-raised-button (click)="create()" color="primary">Registrar
  </button>
</div>
