.content{
  width:80%;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
color: #c3c3c3;
}

.color__icon__primary{
  width: 200px;
  height: 200px;
  color: #c3c3c3;

}