<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h2>Geolocalización</h2>
      <hr>
    </div>

    <div class="col-lg-5">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Dirección</mat-label>
        <input type="text" matInput [(ngModel)]="address.address" placeholder="calle 11 n19d 22, valledupar, colombia"/>
      </mat-form-field>
    </div>

    <div class="col-lg-1">
      <button mat-raised-button style="margin-top: 10px;"
              (click)="searchLocation()"
              color="primary">
        Buscar
      </button>
    </div>

    <div class="col-lg-6" style="margin-top: 10px;">
      <h3 *ngIf="address.provider !== ''">Encontrado por: <strong>google</strong></h3>
    </div>

    <div class="col-lg-12">
      <br><br>
      <agm-map
        [latitude]="configMap.center.latitude"
        [longitude]="configMap.center.longitude"
        [zoom]="configMap.zoom">
        <agm-marker
          *ngIf="address.location != null"
          [latitude]="address.location.latitude"
          [longitude]="address.location.longitude"></agm-marker>
      </agm-map>

    </div>

  </div>
</div>
