/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'poppins__black';
  src: url('assets/fonts/Poppins-Black.otf');
}

@font-face {
  font-family: 'poppins__medium';
  src: url('assets/fonts/Poppins-Medium.otf');
}

@font-face {
  font-family: 'poppins__bold';
  src: url('assets/fonts/Poppins-Bold.otf');
}

@font-face {
  font-family: 'poppins__semibold';
  src: url('assets/fonts/Poppins-SemiBold.otf');
}

@font-face {
  font-family: 'poppins__extralight';
  src: url('assets/fonts/Poppins-ExtraLight.otf');
}

@font-face {
  font-family: 'poppins__regular';
  src: url('assets/fonts/Poppins-Regular.otf');
}

@font-face {
  font-family: 'poppins__italic';
  src: url('assets/fonts/Poppins-Italic.otf');
}


:root {
  --p_color: #210973;
  --p_color_v: rgba(33, 9, 115, 0.4);
  --s_color: #545454;
  --s_color_v: #EEE7DF;
  --d_color: #000000;
  --d_color_v: #5C5C5C;

  --ff_black: 'poppins__black';
  --ff_medium: 'poppins__medium';
  --ff_bold: 'poppins__bold';
  --ff_semibold: 'poppins__semibold';
  --ff_extralight: 'poppins__extralight';
  --ff_regular: 'poppins__regular';
  --ff_italic: 'poppins__italic';
}


html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--ff_regular) !important;
  background-color: #F5F5F5;
}

h1 {
  font-family: var(--ff_regular) !important;
}

h2 {
  color: #545454 !important;
}

button, div, span {
  font-family: var(--ff_regular) !important;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--s_color)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--d_color)
}


figure {
  margin: 0;
}

h1, h2, h3 {
  color: #000;
}


p, a {
  font-family: var(--ff_regular);
}

.err-message {
  font-family: var(--ff_italic);
  color: var(--s_color_v);
  font-size: 1rem !important;
  display: block;
  margin: 0;
}

.mat-h2, .mat-title, .mat-typography h2 {
  font-family: var(--ff_bold);
  font-size: 3rem;
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font-family: var(--ff_regular) !important;

}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font-family: var(--ff_extralight) !important;
}

.color__icon__primary {
  color: var(--p_color);
}

.mat-badge-accent .mat-badge-content {
  background: var(--s_color) !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: var(--p_color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: var(--p_color) !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: var(--s_color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: var(--s_color) !important;
}

/******checks************/

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: var(--p_color_v);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--p_color);
}

/***********form*************************/
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--p_color) !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--p_color) !important;
}

.mat-input-element {
  font-family: var(--ff_regular);
  color: #000 !important;
}

.mat-form-field {
  font-family: var(--ff_regular);
  color: #000;
}

.mat-form-field-ripple {
  color: var(--p_color) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  color: var(--p_color) !important;
}

.mat-form-field-underline {
  color: var(--p_color) !important;
}

.mat-focused .mat-form-field-label {
  color: #000 !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: var(--p_color) !important;
}

/*************step***************/
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--p_color) !important;

  color: #fff;
}

.mat-step-header .mat-step-icon {
  font-family: var(--ff_semibold);
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.mat-step-label {
  font-family: var(--ff_semibold);
}

/****************tabs*****************/
.mat-tab-label-content span {
  font-family: var(--ff_medium) !important;
}

.mat-ink-bar {
  background-color: var(--p_color) !important;
}

.mat-tab-labels {
  background-color: #FFF !important;
}

.mat-tab-body-content {
  height: calc(100vh - 150px) !important;
  overflow: auto;
}


/*************checkbox****************/
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--s_color) !important;
}

.mat-radio-outer-circle {
  border-color: var(--s_color) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--s_color);
}


img.ng-lazyloaded {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05) !important;
}

a:focus,
img:focus,
figure:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.wrapper-content {
  background-color: #EEFBFE;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 0 40px 0;
}


.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: 0;
}

.wrapper-stores-grid {
  margin-top: 4rem;
}


/************personalizar swiper*******************/

.swiper-pagination {
  padding-top: 5px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFF !important;
  border: 3px solid transparent;
  opacity: 1;
}

.banner-button-prev,
.banner-button-next {
  position: absolute;
  top: 50%;
  z-index: 1000;
  color: var(--p_color);
  transition: all 0.2s;
  width: 45px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.mat-card {
  border-radius: 10px !important;
}


.banner-button-prev {
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

.banner-button-next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}


.arrow-buttom {
  color: #FFF !important;
}

.arrow-buttom:hover {
  opacity: 0.9;
}

.swiper-pagination-bullet-active::before {
  background: none;
  border: 1px solid #fff;
  content: "";
  display: block;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  margin-top: -6px;
  margin-left: -6px;
  pointer-events: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 95%;
  transform: translateX(-95%);
  white-space: nowrap;
}


.mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  top: 10px;
}


.map-container {
  border-radius: 10px;
}


/********swal********/
.swal2-container {
  zoom: 1.3;
}

.swal2-popup {
  border-radius: 20px !important;
}

.swal2-content {
  color: #000000;
  font-family: var(--ff_regular) !important;

}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: var(--p_color) !important;
  color: #fff;
  font-size: 1.0625em;
  font-family: var(--ff_regular) !important;
}

.swal2-title {
  color: #000 !important;
  font-family: var(--ff_bold) !important;
}


.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: var(--p_color);
}

.mat-card {
  font-family: var(--ff_regular);
}

.mat-list-option {
  font-size: 1.3rem !important;
  font-family: var(--ff_semibold);
}

h3 {
  font-family: var(--ff_medium) !important;
  font-size: 20px !important;
}

.block {
  display: block !important;
}

.cursor-pointer {
  cursor: pointer;
}

span.badge-accent {
  background-color: var(--s_color);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

span.badge-primary {
  background-color: var(--p_color);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

div.spacer-10 {
  height: 10px;
}

div.spacer-15 {
  height: 15px;
}

div.spacer-20 {
  height: 20px;
}

div.alert-warning {
  background-color: rgba(157, 131, 55, 0.3);
  padding: 20px;
}

span.cursive {
  font-style: oblique;
  font-weight: bold;
}
