.wrapper-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.wrapper-user{
  background-color:var(--p_color);
  height: 180px;
  width: 100%;
  padding: 10px;
  border-radius: 0 0px 20px 20px;
}


.wrapper-header {
  background-color:#FFF;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: var(--ff_medium);
  border-bottom: 1px solid #e5edef;
  height: 56px;
}

.wrapper-navigation {
  width: 180px;
}

.icon-user{
  width: 60px;
  height: 60px;
  color:#FFF;
  border-radius: 100%;
  border:4px solid #FFF;
  margin: 10px;
}

.content-info-user{

  margin-left:20px;
  color:#FFF;
}

.content-info-user p{
  padding:0;
  margin:0;
  margin-left:10px;
}

.wrapper-navigation a {
  margin: 10px 0 0 0px;
  padding: 5px;
  text-align: left;
  width: calc(100% - 10px);
  border-radius:0 10px 10px 0px;
  font-family: var(--ff_medium);
}

.active {
  color:var(--p_color) !important;
  background-color: rgba(157, 131, 55, 0.1) !important;
  font-weight: 600;
}



.wrapper-content {
  background-color: #fafafa;
  padding: 10px;
  height: calc(100vh - 76px);
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
}

.title {
  margin-left: 10px;
}




@media (max-width:600px) {
  .wrapper-navigation {
    width: 70%;
  }
}
