<app-loading></app-loading>

<mat-sidenav-container class="wrapper-container" [hasBackdrop]="false" id="wrapper">
  <mat-sidenav
    class="header"
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
    class="wrapper-navigation">
    <div class="wrapper-user">

      <i-feather name="user" class="color__icon__primary icon-user"></i-feather>
      <span class="content-info-user">
        <p>{{user.name}}</p>
        <p style="opacity:0.6" *ngIf="user.email.length < 18">
          {{user.email}}
        </p>
        <p style="opacity:0.6" matTooltip="{{user.email}}" *ngIf="user.email.length >= 18">
          {{ (user.email.length > 18) ? (user.email | slice:0:18) + '...' : (user.email) }}
        </p>
      </span>

    </div>


    <a mat-button
       *ngFor="let item of menus"
       [routerLink]="[item.routerLink]"
       [ngClass]="{active: activeRoute(item.activeRoute)}"
       class="item-menu">
      <i-feather name="{{item.iconName}}" class="color__icon__primary icon" style="margin-left: 10px;"></i-feather>
      <span style="margin-left: 10px;">{{item.title}}</span>
    </a>

    <a mat-button class="item-menu" (click)="logout()">
      <i-feather name="log-out" class="color__icon__primary icon" style="margin-left: 10px;"></i-feather>
      <span style="margin-left: 10px;">Salir</span></a>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content">
    <mat-toolbar class="wrapper-header">

      <button mat-icon-button color="primary" (click)="sidenav.toggle()" aria-label="Despleglar menu">
        <i-feather name="menu" class="color__icon__primary"></i-feather>
      </button>

      <span>{{title}}</span>
    </mat-toolbar>

    <div class="wrapper-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<audio id="Notification" controls>
  <source src="../../../../assets/alert.mp3" type="audio/mpeg">
</audio>

